#result {
  display: none;
}

#priority {
  width: 55%
}

.submarine-holder {
  position: absolute;
  top: 125;
  left: 25;
}

.submarine {
  position:relative;
  display: inline-block;
  height: 207px;
  width: 245px;
  z-index: 100;
  -webkit-animation-name: bob;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

header h1, header h3 {
  color: black;
  text-shadow: 1px 1px 1px #888;
  margin: 0;
  text-align: center;
  font-size: 3em;
}

header h3 {
  margin-top: 20px;
  font-size: 1.5em;
}

header {
  padding: 50px 0;
  background: #F5FBFF;
}

@-webkit-keyframes bob {
  0%, 50%, 100% { top: 0; }

  25% { top: 100; }

  75% { top: 50; }
}
