#result {
  display: none;
}

header h1, header h3 {
  color: snow;
  text-shadow: 1px 1px 1px #888;
  margin: 0;
  text-align: center;
  font-size: 3em;
}

header h3 {
  margin-top: 20px;
  font-size: 1.5em;
}

header {
  padding: 50px 0;
  background: url('http://i.huffpost.com/gen/1180161/images/o-WORLD-OCEANS-DAY-2013-facebook.jpg') no-repeat bottom;
  background-size: 100%;
}
